body {
  font-family: Arial, sans-serif;
  background: #f8f9fb;
  margin: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
}

.logo {
  color: #ff385c;
  font-weight: bold;
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 10px;
}

.search {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.dropdown {
  padding: 10px;
  border-radius: 20px;
}

/* Container */
.container {
  padding: 20px 40px;
}

.container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Card */
.card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.date {
  color: gray;
  font-size: 14px;
  padding: 10px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.card h3 {
  padding: 0 10px 15px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* Footer */
.footer {
  background: #111;
  color: #fff;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 300px;
}

.footer-left p {
  color: #bbb;
}

.footer-links {
  display: flex;
  gap: 50px;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links p {
  color: #bbb;
  margin: 5px 0;
  cursor: pointer;
}

.footer-links p:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding: 15px;
  font-size: 14px;
  color: #aaa;
}
